*{
    margin: 0;
    padding: 0;
}

/* Menu Superior */
header{
    width: 100%;
    height: 60px;
    background-color: #333333;
}
ul.de {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
ul.iz {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

li span.nombre{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}

